/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------end of reset--------------------------
---------------------border-box/clearfix----------------------*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

img {
    max-width: 100%;
}


/*------------------------------------------------------------
------------------------------------------------------------*/
body{
    background-image: url("blue-tardis.jpg");
    background-attachment: fixed;
    height: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Old Standard TT', serif;
    color: white;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

h2{
    font-size: 20px;
    font-weight: 600;
}

h3{
    font-size: 24px;
    font-weight: 600;
}


.wrapper{
    max-width: 100%;
	margin: 20px auto;
    text-align:center;      
}


.dr_who{
    margin: 10px;
    
}

.title{
    width: 70%;
    padding: 10px;
    margin: 10px auto;
}

.movie {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}



@media (min-width: 481px) and (max-width:768px){

    .movie {
        width: 40%;  
    }
    
    .title{
        width: 90%;
    }
    
    h1 {
        font-size: 28px;
    }
    
    h2,h3{
        font-size: 18px;
    }
    
    
}


@media (max-width: 481px)  {

    .movie {
        width: 50%;
        padding: 8px;        
    }
    
    h1 {
        font-size: 25px;
    }
    
    h2,h3{
        font-size: 14px;
        font-weight: 550;
    }
    

    .title{
        width: 90%;
    }

}











